Repository ucanalgan/personalWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: Modernize SkillsSection - remove progress bars and metrics
  src/components/sections/SkillsSection.jsx
Due: eslint --fix

feat: Complete portfolio project with master-level English README and GitHub integration fixes
  README.md
  index.html
  package.json
  src/App.jsx
  src/components/layout/Header.jsx
  src/components/sections/AboutSection.jsx
  src/components/sections/FooterSection.jsx
  src/components/sections/HeroSection.jsx
  src/components/sections/ProjectsSection.jsx
  src/components/sections/SkillsSection.jsx
Due: eslint --fix, prettier --write

✨ feat: Complete portfolio project with master-level English README and GitHub integration fixes
  README.md
  index.html
  package.json
  src/App.jsx
  src/components/layout/Header.jsx
  src/components/sections/AboutSection.jsx
  src/components/sections/FooterSection.jsx
  src/components/sections/HeroSection.jsx
  src/components/sections/ProjectsSection.jsx
  src/components/sections/SkillsSection.jsx
Due: eslint --fix, prettier --write

Updates
  assets/css/main-BRjFOuNv.css
  assets/css/main-DdCtQYux.css
  assets/js/analytics-DUPG0O_Y.js
  assets/js/main-DOTidvOe.js
  assets/misc/App-BQhKvK65.jsx
  index.html
  stats.html
Due: eslint --fix, prettier --write

Updates
  test.html
Due: none

Updates
  assets/misc/App-BQhKvK65.jsx
  favicon.svg
  index.html
  manifest.json
  test.html
Due: eslint --fix, prettier --write

Updates
  index.html
  manifest.json
Due: prettier --write

fix: Correct GitHub Pages base path from Kisisel_web to personalWeb
  index.html
  public/favicon.svg
  public/manifest.json
  vite.config.js
Due: eslint --fix, prettier --write

fix: Remove missing PNG icon references and use only SVG favicon
  index.html
  public/manifest.json
Due: prettier --write

feat: update GitHub Actions workflow for personalWeb deployment
  .github/workflows/deploy.yml
Due: none

feat: update GitHub Actions workflow and fix ESLint warnings limit for personalWeb deployment
  package.json
Due: prettier --write

Updates
  assets/js/analytics-BRzEuY6R.js
  index.html
  stats.html
Due: eslint --fix

refactor: cleanup project and optimize for gh-pages
  index.html
  package.json
  public/favicon.svg
  public/manifest.json
  src/App.jsx
  src/components/sections/AboutSection.jsx
  src/components/sections/ContactSection.jsx
  src/components/sections/FooterSection.jsx
  src/components/sections/ProjectsSection.jsx
  src/components/sections/SkillsSection.jsx
  src/contexts/GitHubContext.jsx
  src/contexts/ThemeContext.jsx
  src/main.jsx
  src/utils/analytics.js
  src/utils/animations.js
  src/utils/utils.js
  vite.config.js
Due: eslint --fix, prettier --write

Updates
  favicon.svg
  index.html
  manifest.json
  stats.html
Due: prettier --write

chore: update workflow to use master branch
  .github/workflows/deploy.yml
Due: none

Updates
  assets/js/analytics-BFc-Gakt.js
  index.html
Due: eslint --fix

ci: update GitHub Actions workflow
  .github/workflows/deploy.yml
Due: none

fix: build issues and dependency updates
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: prettier --write

fix: service worker path and PropTypes issues
  package-lock.json
  package.json
  src/App.jsx
Due: eslint --fix, prettier --write

Update eslint configuration
  eslint.config.js
Due: eslint --fix

fix: Update README.md links to use correct /personalWeb/ path instead of /Kişisel_web/
  README.md
Due: prettier --write

fix: Remove problematic analytics import causing JavaScript error preventing site load
  index.html
Due: none

fix: Resolve React bundle build issue by simplifying Vite config - Remove aggressive Terser optimizations that were eliminating React code
  vite.config.js
Due: eslint --fix

force: Rebuild and redeploy to fix bundle mismatch issue
  vite.config.js
Due: eslint --fix

docs: Redesign README with modern layout, badges, and improved structure
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md,css}
