Repository ucanalgan/personalWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: ✨ Redesign README with modern layout, badges, and improved structure
  README.md
Due: prettier --write

docs: Update README footer section
  README.md
Due: prettier --write

fix: resolve ESLint warnings and improve code formatting
  src/components/sections/AboutSection.jsx
  src/components/sections/ProjectsSection.jsx
  vite.config.js
Due: eslint --fix

update: remove Twitter links and update contact information
  README.md
  src/components/layout/Header.jsx
  src/components/sections/ContactSection.jsx
  src/components/sections/FooterSection.jsx
Due: eslint --fix, prettier --write

chore: fix security advisories and clean up dead build config
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/contexts/GitHubContext.jsx
  vite.config.js
Due: eslint --fix, prettier --write

chore: update dependencies and devDependencies for improved performance and compatibility
  .github/workflows/deploy.yml
  eslint.config.js
  index.html
  package-lock.json
  package.json
  public/favicon.svg
  public/profile-placeholder.svg
  public/sw.js
  src/components/sections/FooterSection.jsx
  src/components/sections/GitHubSection.jsx
  src/components/sections/HeroSection.jsx
  vite.config.js
Due: eslint --fix, prettier --write

chore: update GitHub Actions and remove gh-pages dependency
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: prettier --write

refactor: remove layout and theme CSS files; update analytics event handling
  src/components/sections/ProjectsSection.jsx
  src/styles/base.css
  src/styles/components.css
  src/styles/components/buttons.css
  src/styles/components/cards.css
  src/styles/layout.css
  src/styles/styles.css
  src/styles/themes.css
  src/utils/analytics.js
Due: eslint --fix, prettier --write

style: update color palette and theme variables for improved aesthetics and consistency
  index.html
  public/manifest.json
  src/components/common/Button.jsx
  src/components/sections/AboutSection.jsx
  src/components/sections/GitHubSection.jsx
  src/components/sections/HeroSection.jsx
  src/styles/cobalt.css
  src/styles/styles.css
  tailwind.config.js
Due: eslint --fix, prettier --write

style: remove unnecessary padding from section elements and update color gradients for consistency chore: add type scale and vertical rhythm styles for improved typography
  src/components/sections/AboutSection.jsx
  src/components/sections/ContactSection.jsx
  src/components/sections/GitHubSection.jsx
  src/components/sections/ProjectsSection.jsx
  src/components/sections/SkillsSection.jsx
  src/styles/styles.css
  src/styles/type-scale.css
Due: eslint --fix, prettier --write

style: update SEO meta tags, enhance theme variables, and improve layout consistency
  index.html
  src/App.jsx
  src/components/common/ThemeToggle.jsx
  src/components/layout/Header.jsx
  src/components/sections/AboutSection.jsx
  src/components/sections/ContactSection.jsx
  src/components/sections/HeroSection.jsx
  src/components/sections/SkillsSection.jsx
  src/contexts/ThemeContext.jsx
  src/styles/cobalt.css
  tailwind.config.js
Due: eslint --fix, prettier --write

style: simplify README structure, update tech stack details, and enhance clarity
  README.md
Due: prettier --write

style: correct hyphen usage in project title
  README.md
Due: prettier --write

style: enhance button touch targets, improve accessibility, and update layout consistency across components
  README.md
  index.html
  src/components/common/Button.jsx
  src/components/common/ScrollToTop.jsx
  src/components/layout/Header.jsx
  src/components/sections/AboutSection.jsx
  src/components/sections/ContactSection.jsx
  src/components/sections/FooterSection.jsx
  src/components/sections/HeroSection.jsx
  src/components/sections/ProjectsSection.jsx
  src/components/sections/SkillsSection.jsx
  src/styles/cobalt.css
  src/styles/styles.css
  src/styles/type-scale.css
Due: eslint --fix, prettier --write

style: update color variables for consistency, enhance gradient backgrounds, and improve status color definitions
  src/components/sections/AboutSection.jsx
  src/components/sections/HeroSection.jsx
  src/components/sections/ProjectsSection.jsx
  src/styles/cobalt.css
  tailwind.config.js
Due: eslint --fix, prettier --write

style: update button styles for consistency, enhance gradient effects, and improve accessibility features across sections
  src/components/common/Button.jsx
  src/components/sections/AboutSection.jsx
  src/components/sections/HeroSection.jsx
  src/components/sections/ProjectsSection.jsx
  src/components/sections/SkillsSection.jsx
  src/styles/cobalt.css
  tailwind.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md,css}
